# Map, Filter, Reduce, Lambda & Recursion

## Tasks Today:

1) <b>Lambda Functions</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Saving to a Variable <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Multiple Inputs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Passing a Lambda into a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Returning a Lambda from a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) In-Class Exercise #1 <br>
2) <b>Map</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Map <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #2 <br>
3) <b>Filter</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Filter <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #3 <br>
4) <b>Reduce</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Reduce <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #4 <br>
5) <b>Recursion</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Implementing a Base <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Writing a Factorial Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #5 <br>
6) <b>Generators & Iterators</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Yield Keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Inifinite Generator <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #6 <br>
7) <b>Exercises</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Exercise #1 - Filtering Empty Strings <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Exercise #2 - Sorting with Last Name <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Exercise #3 - Conversion to Farhenheit <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Exercise #4 - Fibonacci Sequence <br>

## Lambda Functions <br>
<p>Lambda functions... or "Anonymous Functions" are referring to inline functions with no name. The keyword lambda denotes the no name function, and executes within a single line. Without saving it to a variable; however, it is not able to be used, unless passed in either as a paramater or within list comprehension.<br>Written as "(keyword lambda) (one or more inputs) (colon) (function to be executed)"</p>

#### Syntax

In [1]:
def add_two(x):
    return x + 2

print(add_two)
add_two

<function add_two at 0x000001F47D6E45E0>

In [2]:
# lambda param: one-line function

lambda x: x + 2

In [3]:
print(lambda x: x + 2)

<function <lambda> at 0x000001F47D6E57E0>

In [4]:
add_two(10)

12

In [6]:
# IIFE - Immediately Invoked Function Expression
# Execute a lambda function immediately after defining the function
# Syntax: (lambda param: expression)(arg)

(lambda x: x + 2)(10)

12

In [7]:
(lambda x: x + 2)(20)

22

In [9]:
num = 25

num_plus_two = (lambda x: x + 2)(num)

print(num_plus_two)
print(type(num_plus_two))

27
<class 'int'>

#### Saving to a Variable

In [10]:
named_lambda = lambda y: y**2

print(named_lambda)
print(type(named_lambda))

<function <lambda> at 0x000001F47D6E5360>
<class 'function'>

In [11]:
named_lambda(10)

100

In [12]:
def my_function(y):
    return y**2


another_function = my_function

In [13]:
print(another_function)
print(type(another_function))

<function my_function at 0x000001F47D6E64D0>
<class 'function'>

In [14]:
another_function(10)

100

#### Multiple Inputs

In [16]:
def multiply(x, y, z):
    return x * y * z


multiply(10, 11, 12)

1320

In [17]:
multiply(5, 6, 7)

210

In [18]:
# Syntax: lambda param1, param2, etc: expression
lambda x, y, z: x * y * z

In [20]:
# As an IIFE - (lambda param1, param2, etc: expression)(arg1, arg2, etc.)
(lambda x, y, z: x * y * z)(10, 11, 12)

1320

In [25]:
def accept_args(*args):
    return args

accept_args(1, 2, 3, 4, 5)

(1, 2, 3, 4, 5)

In [26]:
lambda *args: args

In [30]:
(lambda *args: args)('a', 'b', 'c', 'd')

('a', 'b', 'c', 'd')

In [34]:
def accept_kwargs(**kwargs):
    return kwargs

accept_kwargs(name='Brian', age=88, city='Chicago')

{'name': 'Brian', 'age': 88, 'city': 'Chicago'}

In [37]:
(lambda **kwargs: kwargs)(name='Travis', age=77, city='New York')

{'name': 'Travis', 'age': 77, 'city': 'New York'}

In [38]:
def get_evens(nums):
    output = []
    for num in nums:
        if num % 2 == 0:
            output.append(num)
    return output

get_evens([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

[2, 4, 6, 8, 10]

In [41]:
lambda nums: [num for num in nums if num % 2 == 0]

In [42]:
(lambda nums: [num for num in nums if num % 2 == 0])([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

[2, 4, 6, 8, 10]

#### Passing a Function into a Function

In [43]:
def apply_to_each(a_list, f):
    """
    Print the return value of function f applied to every element in a_list
    a_list -> List of elements to execute function f on
    f -> function to execute
    """
    for element in a_list:
        f_return = f(element)
        print(f_return)

In [44]:
months = ['January', 'February', 'March', 'April', 'May', 'June']

In [45]:
def get_first_letter(string):
    return string[0]

In [48]:
get_first_letter('hello how are you today?')

'h'

In [49]:
apply_to_each(months, get_first_letter)

J
F
M
A
M
J

In [50]:
def reverse_string(string):
    return string[::-1]

In [51]:
apply_to_each(months, reverse_string)

yraunaJ
yraurbeF
hcraM
lirpA
yaM
enuJ

#### Passing a Lambda into a Function

In [52]:
# Call the apply_to_each function, pass in a lambda function as f argument

apply_to_each(months, lambda month: month[-1])

y
y
h
l
y
e

In [53]:
apply_to_each([1, 2, 3, 4, 5], lambda x: x**2)

1
4
9
16
25

In [54]:
apply_to_each(months, lambda string: string[::-1])

yraunaJ
yraurbeF
hcraM
lirpA
yaM
enuJ

#### Returning a Function from a Function

In [55]:
state = 'Illinois'

def welcome(name):
    city = 'Chicago'
    print(f"Hello {name}, welcome to {city}, {state}")
    return city

x = welcome('Brian')

Hello Brian, welcome to Chicago, Illinois

In [56]:
print(city)

NameError: name 'city' is not defined

In [57]:
print(x)

Chicago

In [60]:
def my_outer_function(name):
    print(f"Hello {name}")
    
    # Define a function - will be scoped to my_outer_function
    def my_inner_function():
        city = 'Honolulu'
        print(f'This is the inner function {name} from {city}')
    # Execute the inner function defined here
    my_inner_function()
    
#     print(f'Goodbye {name} from {city}') # NameError: name 'city' is not defined
    
    
my_outer_function

In [61]:
my_outer_function('Holly')

Hello Holly
This is the inner function Holly from Honolulu

In [62]:
my_inner_function

NameError: name 'my_inner_function' is not defined

In [63]:
def my_outer_function(name):
    print(f"Hello {name}")
    
    # Define a function - will be scoped to my_outer_function
    def my_inner_function():
        city = 'Honolulu'
        print(f'This is the inner function {name} from {city}')
    # Return the inner function defined here
    return my_inner_function

In [64]:
y = my_outer_function('Holly')

Hello Holly

In [65]:
my_inner_function

NameError: name 'my_inner_function' is not defined

In [67]:
print(y)
print(type(y))

<function my_outer_function.<locals>.my_inner_function at 0x000001F47F2C0940>
<class 'function'>

In [68]:
# Execute the return value function
y()

This is the inner function Holly from Honolulu

In [69]:
print(name)

NameError: name 'name' is not defined

In [70]:
def create_multiplier(num):
    def multiply(x):
        return num * x
    return multiply

In [71]:
five_times = create_multiplier(5)
print(five_times)

<function create_multiplier.<locals>.multiply at 0x000001F47F20AF80>

In [76]:
print(five_times(10))
print(five_times(5))
print(five_times(8))

50
25
40

In [77]:
three_times = create_multiplier(3)
print(three_times)

<function create_multiplier.<locals>.multiply at 0x000001F47F2C16C0>

In [78]:
print(three_times(10))
print(three_times(5))
print(three_times(8))

30
15
24

#### Returning a Lambda from a Function

In [80]:
def new_multiplier(num):
    return lambda x: num * x

In [81]:
four_times = new_multiplier(4)
print(four_times)
four_times

<function new_multiplier.<locals>.<lambda> at 0x000001F47F2C0EE0>

In [83]:
print(four_times(10))
print(four_times(5))

40
20

#### If Statements within Lambdas

In [84]:
def double_or_square(number):
    # If the number is even, double it
    if number % 2 == 0:
        return number * 2
    # if the number is odd, square it
    else:
        return number ** 2
    
print(double_or_square(10))
print(double_or_square(5))

20
25

In [85]:
# Ternary: value_if_true if condition else value_if_false
def double_or_square2(number):
    return number * 2 if number % 2 == 0 else number ** 2

print(double_or_square2(10))
print(double_or_square2(5))

20
25

In [86]:
# As a lambda function
lambda number: number * 2 if number % 2 == 0 else number ** 2

In [87]:
# IIFE
(lambda number: number * 2 if number % 2 == 0 else number ** 2)(10)

20

In [88]:
(lambda number: number * 2 if number % 2 == 0 else number ** 2)(5)

25

In [89]:
numbers = [i for i in range(1,11)]

apply_to_each(numbers, lambda num: num * 2 if num % 2 == 0 else num ** 2)

1
4
9
8
25
12
49
16
81
20

#### In-Class Exercise #1 <br>
<p>Write a lambda function that takes in three arguments <code>a</code>,<code>b</code>,<code>c</code> and returns the product of <code>a</code> and the difference of <code>b</code> and <code>c</code></p>

In [ ]:
# Example 1 
# a = 10, b = 5, c = 2
# Output: 30

# Example 2
# a = 20, b = 10, c = 5
# Output: 100

In [94]:
def calculate(a, b, c):
    return a * (b - c)

calculate(10, 5, 2)

30

In [90]:
lambda a, b, c: a * (b - c)

In [92]:
(lambda a, b, c: a * (b - c))(10, 5, 2)

30

In [93]:
(lambda a,b,c: a*(b-c))(20, 10, 5)

100

In [100]:
(lambda nums: nums[0] * (nums[1]-nums[2]))([10, 5, 2])

30

In [101]:
(lambda nums: nums[0] * (nums[1]-nums[2]))((10, 5, 2))

30

## Map <br>
<p>The map function allows you to iterate over an entire list while running a function on each item of the list. This is why the map function works well with lambda's, because it simplifies things and you write less lines of code.<br>The syntax for a map function is "map(function to be used, list to be used)"<br>However, you must be careful, as the map function returns a map object, not a list. To turn it into a list we use the list() type conversion.</p>

#### Syntax

In [ ]:
# map(function, *iterables -> List, Tuple, String, Set, Dictionary, etc)

In [ ]:
# the number of positional arguments required for the function should be equal to the number of iterables
# e.g. multiply takes in two arguments, so we pass in two iterables (x_values, y_values)

#### Using Lambda's with Map

#### In-Class Exercise #2 <br>
<p>Use the map function to double each number if it is even and halve it if it is odd</p>

In [ ]:
numbers = range(1,11)

## Filter() <br>
<p>Filter's are similar to the map function, where you're able to pass a function argument and a list argument and filter out something from the list based on the conditions passed. Similar to the map function, it returns a filter object, so you need to type convert it to a list()</p>

#### Syntax

In [ ]:
names = ['Bob', 'Billy', 'Alex', 'Barbara', 'Amy', 'Andy', 'Catherine', 'Cameron', 'Ben']

In [ ]:
# Syntax: filter(function_to_apply, iterable -> List,Tuple,Set,Dict,String,etc)

#### Using Lambda's with Filter()

#### In-Class Exercise #3 <br>
<p>Use the filter function to that take in a list of cities as strings and returns a list of cities with at least two words in the name</p>

In [ ]:
cities = ['Chicago', 'Los Angeles', 'New York City', 'Miami', 'Oklahoma City', 'Baton Rouge', 'Boston', 'Denver']
# Output: ['Los Angeles', 'New York City', 'Oklahoma City', 'Baton Rouge']

## Reduce() <br>
<p>Be very careful when using this function, as of Python 3 it's been moved to the 'functools' library and no longer is a built-in function.<br>The creator of Python himself, says to just use a for loop instead.</p>

In [ ]:
import this

In [ ]:
from functools import reduce

#### Syntax

#### Using Lambda's with Reduce()

#### In-Class Exercise #4 <br>
<p>Use the reduce function to multiply the numbers in the list below together with a lambda function.</p>

In [ ]:
nums = [2, 4, 6, 8, 10]
# Output: 3840

## Recursion <br>
<p>Recursion means that a function is calling itself, so it contanstly executes until a base case is reached. It will then push the returning values back up the chain until the function is complete. A prime example of recursion is computing factorials... such that 5! (factorial) is 5*4*3*2*1 which equals 120.</p>

x! = x * (x-1)!
5! = 5 * 4!
4! = 4 * 3!
3! = 3 * 2!
2! = 2 * 1!
1! = 1

In [ ]:
def capitalize(name):
    # Takes in a name, upper case the first letter and lower case the rest
    return name[0].upper() + name[1:].lower()

def full_name(first, last):
    # take in a first name, capitalize the first name, take in a last name, capitalize the last name and 
    # then returns the concatenated string of first + space + last
    return capitalize(first) + ' ' + capitalize(last)


def greet_person(first_name, last_name, day_of_week):
    person_full_name = full_name(first_name, last_name)
    print(f"Hello {person_full_name}, it sure is beautiful on this {capitalize(day_of_week)}")

In [ ]:
import time

def func_one():
    print("Function One Started")
    time.sleep(5)
    print("Function One Ended")
    
    
def func_two():
    print("Function Two Started")
    func_one()
    print("Function Two Ended")
    
    
func_two()

#### Implementing a Base Case

In [ ]:
# 5! = 5 * 4!
# 4! = 4 * 3!
# ...
# 1! = 1

# factorial(x) = x * factorial(x-1)

In [ ]:
# Can also be used as a way of looping

In [ ]:
# NEED SOME SORT OF BASE CASE

# def factorial(num):
#     return num * factorial(num - 1)

# factorial(3)

## Generators <br>
<p>Generators are a type of iterable, like lists or tuples. They do not allow indexing, but they can still be iterated through with for loops. They are created using functions and the yield statement.</p>

#### Yield Keyword <br>
<p>The yield keyword denotes a generator, it doesn't return so it won't leave the function and reset all variables in the function scope, instead it yields the number back to the caller.</p>

# Exercises

### Exercise #1 <br>
<p>Filter out all of the empty strings from the list below</p>

`Output: ['Argentina', 'San Diego', 'Boston', 'New York']`

In [ ]:
places = [" ","Argentina", " ", "San Diego","","  ","","Boston","New York","DC", "          "]

# Remove all of the empty string

### Exercise #2 <br>
<p>Write an anonymous function that sorts this list by the last name *case insensitive*...<br><b>Hint: Use the ".sort()" method and access the key"</b></p>

`Output: ['Victor aNisimov', 'Gary A.J. Bernstein', 'Joel Carter', 'Andrew P. Garfield', 'David hassELHOFF']`

In [ ]:
authors = ["Joel Carter", "Victor aNisimov", "Andrew P. Garfield", "David hassELHOFF", "Gary A.J. Bernstein"]

### Exercise #3 <br>
<p>Convert the list below from Celsius to Farhenheit, using the map function with a lambda...</p>

`Output: [('Nashua', 89.6), ('Boston', 53.6), ('Los Angeles', 111.2), ('Miami', 84.2)]
`

In [ ]:
# F = (9/5)*C + 32
places = [('Nashua',32),("Boston",12),("Los Angeles",44),("Miami",29)]

### Exercise #4 <br>
<p>Write a recursion function to perform the fibonacci sequence up to the number passed in.</p> <p>More information on the Fibonacci Sequence <a href="https://en.wikipedia.org/wiki/Fibonacci_sequence" target="_blank">here</a>. Start the sequence with `0,1,1,...`.</p>

### Exercise #5<br>
<p>Create a generator that takes a number argument and yields that number squared down to 0, then call the generator and iterate through and print the result.</p>

In [ ]:
# for i in generator(10):
#     print(i)

# 100
# 81
# 64
# 49
# 36
# 25
# 16
# 9
# 4
# 2
# 1
# 0